@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --color: #f0814e;
}
  
@keyframes flipinx {
  0%{ transform: perspective(400px) rotateX(90deg); }
  40%{ transform: perspective(400px) rotateX(-10deg); }
  70%{ transform: perspective(400px) rotateX(10deg); }
  100%{ transform: perspective(400px) rotateX(0deg); }
}

.navbar{
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

.navbar h1{
  color: var(--color);
  font-weight: 900;
}

.wordleButton{
  background: gray;
  color: #fff;
  border: none;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  font-size: 34px;
  padding: 5px 10px;
}

#FOUND{
  background-color: green;
  font-weight: 900;
}

#CONTAINS{
  background-color: orange;
  font-weight: 900;
}

#BAD{
  background-color: rgb(29, 29, 29);
}

#BOARD_FOUND{
  background-color: green;
  color: #fff;
  animation:flipinx 1s ease 0s 1 normal;
}

#BOARD_CONTAINS{
  background-color: orange;
  color: #fff;
  animation:flipinx 1s ease 0s 1 normal;
}

#BOARD_BAD{
  background-color: rgb(29, 29, 29);
  color: rgb(119, 119, 119);
  animation:flipinx 1s ease 0s 1 normal;
}

.board{
  display: grid;
  place-items: center;
}

.board ul{
  border: 1px solid var(--color);
  padding: 15px;
  border-radius: 10px;
}
 
.board ul li{
  list-style: none;
  display: inline-block;

}

.wordleLetterInput{
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  background: lightgray;
  color: #000;
  margin: 5px;
  padding: 5px 10px;
  border: none;
  font-size: 32px;
  outline: 1px solid var(--color);
}

.letter-buttons{
  text-align: center;
}

.letter-wrapper{
  display: grid;
  place-items: center;
}